* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    /* background-color: antiquewhite; */
    text-align: center;
}
.header {
    width: 100%;
    margin-bottom: 50px;
    /* background-color: aqua; */
}
.heading {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0 5%;
    box-shadow: 0px 0px 19px rgb(128, 128, 128);

    /* opacity: 0.8; */
    position: fixed;
}
.header .heading .logo {
    width: 10%;
    height: 100px;
    /* background-color: aqua; */
}
.heading > .logo > img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}
.heading .menu {
    width: 40%;
    /* background-color: aqua; */
    text-align: center;
    margin-left: 400px;
    padding-top: 16px;
}
.menu > ul {
    width: 100%;
    height: 100px;
    display: flex;
    font-family: khmer os battambang;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.menu > ul > li {
    width: 20%;
    display: flex;
    /* align-items: center; */
    height: 50px;
}
.menu > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    &:hover {
        color: pink;
        text-decoration: underline;
    }
}
.header .icon {
    width: 20%;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    justify-content: end;
    align-items: center;
}
.icon > a{
    color: black;
    font-size: 2.5rem;
    &:active{
        color: #f16bac;
    }
}
.icon > i {
    font-size: 2.5rem;
    cursor: pointer;
    &:active{
        color: #f16bac;
    }
}
.mid-page {
    /* text-align: center; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* background-color: #FF9DCC; */
    margin-top: 100px;
}
.head {
    text-align: center;
    /* width: 60%; */
    /* height: 100px; */
    background-color: #ff9dcc;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    border-radius: 15px;
    padding-right: 40px;
}
.head > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.head > p {
    font-size: 2.5rem;
    color: white;
    font-family: Khmer OS battambang;
}

.middel-page{
    width: 100%;
    /* background-color: aqua; */
    /* height: 100vh; */
    padding: 0px 5% 0px 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.in-mid{
    width: 100%;
    display: flex;
    padding: 2%;
    gap: 20px   ;
    background-color: #FCDFED;
}
.in-mid .img-mid{
    width: 40%;
    height: 550px;
    background-color: aliceblue;
}
.img-mid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-in-mid{
    width: 60%;
    text-align: start;
}
.text-in-mid > p{
    font-family: Khmer OS Battambang;
    font-size: 1.4rem;
}
.middel-page .in-mid:nth-child(2){
    flex-direction: row-reverse;
}
.head-besoma{
    width: 50%;
    display: flex;
    background-color: #ff9dcc;
    margin-top: 50px;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    align-self: center;
}
.head-besoma > img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.head-besoma > p{
    font-size: 2.5rem;
    color: white;
    font-family: Khmer OS battambang;
}
.img-footter-3{
    display: grid;
    grid-template-columns: repeat(3 ,29%);
    grid-template-rows: 750px;
    gap: 20px;
    justify-content: center;
}
.img-footter-3 > img{
    border: 2px solid pink;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.before-footter{
    width: 100%;
    /* height: 300px; */
    display: flex;
    margin-top: 80px;
    justify-content: center;
    padding: 20px 30% 30px 20%;
    background: rgb(255,178,206);
    background: linear-gradient(45deg, rgba(255,178,206,1) 0%, rgba(243,230,242,1) 100%);
}
.before-footter .text-in-before{
    width: 50%;
    color: white;
}
.anime{
    width: 20%;
    display: flex;
    justify-content: start;
    /* background-color: #ff9dcc */
}
.anime > img{
   width: 120%;
   /* margin-left: -100px; */
   margin-top: -50px;
   height: 120%;
    object-fit: contain;
}
.before-footter .text-in-before > p{
    font-family: Times New Roman;
    font-size: 2.9rem;
}
.text-in-before > button {
    background-color: white;
    color: rgb(255, 158, 211);
    font-family: Khmer OS Koulen;
    border: none;
    font-size: 22px;
    padding: 10px 50px 10px 50px;
    border-radius: 40px;
}
.contact-footer {
    width: 100%;
    height: 300px;
    /* background-color: aliceblue; */
    display: grid;
    grid-template-columns: repeat(3, 33%);
    /* gap: 20px; */
    text-align: center;
}

.header-con {
    /* background-color: #a67b5b; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}
.header-con > a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}
